@using WinFormsBlazor01.Models
@using WinFormsBlazor01.Services
@using Microsoft.AspNetCore.Components.Web
@using Dapper
@using Microsoft.Data.SqlClient;
@implements IDisposable
@inject IExamService examService


<div class="row">
    <div class="col-12">
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="FindName" placeholder="请输入名称" @bind="FindName" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" @onclick="GetQuestions" id="button-addon2">查询</button>
            <button class="btn btn-outline-secondary" type="button" onclick="getHelloMessage('gsw')" id="button-addon2">静态调用DotNet</button>     
            <button class="btn btn-outline-secondary" type="button" onclick="GreetingHelpers.sayHello('gsw')" id="button-addon2">实例化调用DotNet</button>
        </div>
    </div>
</div>
@code {

    private string? FindName { get; set; }
    List<Question> questions = new List<Question>();

    async Task GetQuestions()
    {
        eventHub.CallDotNet("clientclick", "html里传过来的数据");
        questions = (await examService.GetQuestions(FindName)).ToList();
        
    }


    [JSInvokable]
    public static async Task<string> GetHelloMessageAsync(string name) => await Task.FromResult($"Hello!{name}");



    private  DotNetObjectReference<Query>? dotNetHelper;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            dotNetHelper = DotNetObjectReference.Create(this);
            await js.InvokeVoidAsync("GreetingHelpers.setDotNetHelper",dotNetHelper);
        }
    }

    [JSInvokable]
    public async Task<string> SayHello(string name) => await Task.FromResult($"Hello!{name}");


    public void Dispose()
    {
        dotNetHelper?.Dispose();
    }
}
<div class="row">
    <h2 id="title"></h2>
</div>
<div class="row">
    <table class="table table-striped table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="col">编号</th>
                <th scope="col">名称</th>
                <th scope="col">分数</th>
                <th scope="col">试题类型</th>
                <th scope="col">科目类型</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in questions!)
            {
                <tr>
                    <td>@question.ID</td>
                    <td>@question.QuestionName</td>
                    <td>@question.Score</td>
                    <td>@question.QuestionTypeID</td>
                    <td>@question.SubjectTypeID</td>
                </tr>
            }
        </tbody>
    </table>
</div>

