@{
    ViewData["Title"] = "Contact";
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    @Localizer["who"]<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>@Localizer["support"]:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>@Localizer["marketing"]:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
